.container1{
	width: 900px;
	height: 300px;
	background-color: green;
}
.container2{
	width: 900px;
	height: 300px;
	background-color: pink;
}
.container3{
	width: 900px;
	height: 300px;
	background-color: orange;
}
/*^^^Delete WET code (con2 and con3) once complete. current usage to help with efficent layout*/
 .vertical_tiles{
 	width: 300px;
 	height: 300px;
 	margin-left: 300px;
 	background-color: cyan;
 }
.tile{
	width: 50px;
	height: 100px;
}
.right{
	float: right;
}
.left{
	float: left;
}
 .pink{
 	background-color: #FF1493;
 }
 .yellow{
 	background-color: #FFFF00;
 }
 .blue{
 	background-color: #0000FF;
 }