.outercon{
	width: 700px;
	height: 600px;
}
.topcon{
	height: 150px;
	width: 700px;
}
.rectangle{
	width: 275px;
	height: 150px;
	float: left;
}
.square{
	width: 150px;
	height: 150px;
	float: left;
}
.red{
	background-color: #FF0000;
}
.cyan{
	background-color: #00FFFF;
}
.lime{
	background-color: #00FF00;
}
.middlecon{
	height: 300px; 
	width: 375px;
}
.stripe{
	height: 300px;
	width: 75px;
	float: left;
}
.yellow{
	background-color: #FFFF00;
}
.pink{
	background-color: #FF1493;
}
.beige{
	background-color: #F5F5DC;
}
.bottomcon{
	height: 50px;
	width: 600px;
}
.line{
	height: 50px;
	width: 200px;
	float: left;
}
.sky{
	background-color: #00BFFF;
}
.green{
	background-color: #228B22;
}
.pink{
	background-color: #FFC0CB;
}