.small{
	height: 300px;
	width: 100px;
	float: left;
}
.navy{
	background-color: #4682B4;
	height: 300px;
	width: 100px;
}
.big{
	height: 300px;
	width: 200px;
	float: left;
}
#spring{
	background-color: #00FF7F;
	height: 100px;
	width: 100px;
	float: left;
}
#thistle{
	background-color: #D8BFD8;
	height: 100px;
	width: 100px;
	float: right;
}
#snow{
	background-color: #FFFAFA;
	height: 100px;
	width: 100px;
	float: left;
}
#violet{
	background-color: #EE82EE;
	height: 100px;
	width: 100px;
	float: right;
}
#tomato{
	background-color: #FF6347; 
	height: 100px;
	width: 100px;
	float: left;
}
#silver{
	background-color: #C0C0C0;
	height: 100px;
	width: 100px;
	float: right;
}


#salmon{
	background-color: #FA8072;
	height: 100px;
	width: 100px;
	float: left;
}
#sandy{
	background-color: #F4A460;
	height: 100px;
	width: 100px;
	float: right;
}
#seagreen{
	background-color: #2E8B57;
	height: 100px;
	width: 100px;
	float: left;
}
#red{
	background-color: #FF0000;
	height: 100px;
	width: 100px;
	float: right;
}
#purple{
	background-color: #800080; 
	height: 100px;
	width: 100px;
	float: left;
}
#peru{
	background-color: #CD853F;
	height: 100px;
	width: 100px;
	float: right;
}