.container1{
	width: 1000px;
	height: 300px;
	background-color: green;
}
.container2{
	width: 1000px;
	height: 300px;
	background-color: pink;
}
.container3{
	width: 1000px;
	height: 300px;
	background-color: orange;
}
/*^^^Delete WET code(con2 and con3) once complete. current usage to help with efficent layout*/
 .square{
 	width: 300px;
 	height: 300px;
 	background-color: cyan;

 }
 .vertical{
 	margin-left: 350px;
 	margin-right: 350px;
 
 }
.tile{
	width: 50px;
	height: 100px;
	float: left;
	clear: left;
}
.right{
	float: right;
	clear: none;
	margin-left: 200px;
}

.box{
	float: left
}

.rectangle{
	width: 100px;
	height: 50px;
	float: left;
	margin-top: 70px;
}
.center{
	width: 400px;
	height: 300px;
}
 .pink{
 	background-color: #FF1493;

 }
 .yellow{
 	background-color: #FFFF00;
 }
 .blue{
 	background-color: #0000FF;
 }
