.leftcon{
	width: 300px;
	height: 300px;
	float: left;
}
.cyan{
	background-color: #00FFFF;
	width: 300px;
	height: 300px;
}
.rightcon{
	width: 400px;
	height: 300px;
	float: left;
}
.inner{
	width: 400px;
	height: 75px;
}
#aqua{
	background-color: #00FFFF;
	width: 100px;
	height: 75px;
	float: right;
}
#black{
	background-color: #000000;
	width: 100px;
	height: 75px;
	float: right;
}
#blue{
	background-color: #0000FF;
	width: 100px;
	height: 75px;
	float: right;
}
#brown{
	background-color: #A52A2A;
	width: 100px;
	height: 75px;
	float: left;
}
#lime{
	background-color: #7FFF00;
	width: 100px;
	height: 75px;
	float: right;
}
#coral{
	background-color: #FF7F50;
	width: 100px;
	height: 75px;
	float: right;
}
#beige{
	background-color: #F5F5DC;
	width: 100px;
	height: 75px;
	float: right;
}
#crimson{
	background-color: #DC143C;
	width: 100px;
	height: 75px;
	float: left;
}
#darkgr{
	background-color: #006400;
	width: 400px;
	height: 75px;
	float: right;
}
#salmon{
	background-color: #E9967A;
	width: 100px;
	height: 75px;
	float: right;
}
#gold{
	background-color: #FFD700;
	width: 100px;
	height: 75px;
	float: right;
}
#gray{
	background-color: #808080;
	width: 100px;
	height: 75px;
	float: right;
}
#fuchsia{
	background-color: #FF00FF;
	width: 100px;
	height: 75px;
	float: left;
}