.smallcon{
	height: 300px;
	width: 100px;
	float: left;
}
.bigcon{
	height: 300px;
	width: 200px;
	float: left;
}
.rectangle{
	height: 300px;
	width: 100px;
}
.box{
	height: 100px;
	width: 100px;
	float: left;
}
.navy{
	background-color: #4682B4;
}
.spring{
	background-color: #00FF7F;
}
.thistle{
	background-color: #D8BFD8;
}
.snow{
	background-color: #FFFAFA;
}
.violet{
	background-color: #EE82EE;
}
.tomato{
	background-color: #FF6347; 
}
.silver{
	background-color: #C0C0C0;
}
.salmon{
	background-color: #FA8072;
}
.sandy{
	background-color: #F4A460;
}
.seagreen{
	background-color: #2E8B57;
}
.red{
	background-color: #FF0000;
}
.purple{
	background-color: #800080; 
}
.peru{
	background-color: #CD853F;
}