.main-container{
  width: 900px;
  height: 500px;
  background: green;
  position: relative;
}

.rectangle{
  width: 250px;
  height: 150px;
  position: absolute;
}

.aqua{
  background: #00FFFF;
  left: 25;
  top: 50;
}

.black{
  background: #000000;
  top: 50;
  left: 325;
}

.blue{
  background: #0000FF;
  top: 50;
  left: 625;
}

.orange{
  background: #D2691E;
  top: 300;
  left: 25;
}

.gold{
  background: #FFD700;
  top: 300;
  left: 325; 
}

.indigo{
  background: #4B0082;
  top: 300;
  left: 625;
}
