.container{
	height: 100px;
	width: 400px;

}
.red{
	background-color: #8B0000;
	height: 100px;
	width: 100px;
	float: right;
}
.cyan{
	background-color: #00FFFF;
	height: 100px;
	width: 100px;
	float: left;
}
.slate{
	background-color: #6A5ACD;
	height: 100px;
	width: 400px;
	float: left;
}
.peru{
	background-color: #CD853F;
	height: 100px;
	width: 100px;
	float: right;
}
.plum{
	background-color: #DDA0DD;
	height: 100px;
	width: 100px;
	float: left;
}