.container{
	width: 250px;
	height: 100px;	
}
.red{
	background-color: #8B0000;
	height: 100px;
	width: 125px;
	float: left;
}
.green{
	background-color: #008000;
	height: 100px;
	width: 125px;
	float: right;
}
.orange{
	background-color: #FF8C00;
	height: 100px;
	width: 125px;
	float: left;
}
.blue{
	background-color: #0000FF;
	height: 100px;
	width: 125px;
	float: right;
}